div#tocBlock {
    float: right;
    font-size: 10pt;
    width: 300px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;

    background: #dfdfdf;
    border: solid 1px #999999;
    margin: 0 0 10px 15px;

    .tocHeading {
        font-weight: bold;
        font-size: 125%;
    }

    #toc {
        background: #dfdfdf;
        ul {
            list-style: disc;
            li {
                margin-left: 5px !important;
                padding: 0 !important;
            }
        }
    }
}
